*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 /* border: solid 1px red; */
 font-family: sans-serif;
}
/* nav////////////////// */

.con{
    background-image: url("./img/nav\ baground.webp");
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
nav{
    height: 72px;
    width: 1115px;
    display: flex;
    align-items: center;
    border: none;
}

.getapp{
    height: 29px;
    width: 97px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
}
.getapp a , .getapp1 a{
text-decoration: none;
color: white;
}

.getapp1 {
    height: 72px;
    width: 100%;
    /* margin-left: 20px; */
    display: flex;
    justify-content: flex-end;
    gap: 45px;
    align-items: center;
    font-size: 18px;
    line-height: 1.5;
    text-align: right;
    font-weight: 100;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.6rem;
    vertical-align: middle;
    background: transparent;
    padding: 8px;
}

.getapp i{
    height: 10px;
    width: 10px;
}
#down{
    height: 12px;
    width: 12px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
}
.con p{
    height: 48px;
    width: 703px;
    color: rgb(20, 18, 18);
    font-weight: 100;
    font-size: 38px;
    line-height: 43.2px;
    text-align: center;
    letter-spacing: normal;
    margin-top: 30px;
} 
input{
    border: none;
    outline: none;
}

.input{
    height: 54px;
    width: 777px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input img{
color: #363636;
}
.inputc{
    height: 52px;
    width: 243px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputc i{
    font-size: 20px;
    color: #FF7E8B;
    padding: 5px;
    margin-left: 12px;
    margin-right: 7px;
}
.inputc input{
    width: 100%;
}
i{
    font-size: 10px;
}
.line{
    height: 8px;
    width: 50px;
    color: #0f0f0f;
    
}
.inputc2 i{
    height: 52px;
    width: 52px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #828282;
}
.inputc3{
    height: 52px;
    width: 482px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.inputc3,input{
    font-size: 14px;
    line-height: normal;
    text-align: start;
    letter-spacing: normal;
    padding: 1px;
}
/* nav close//////////////////////// */

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
    
    
}
body{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: auto;
}
h6{
    font-size: 18px;
    font-weight: 100;
    line-height: 25.2px;
    letter-spacing: normal;
    color: #363636;
}


.box1{
    height: 240px;
    width: 353px;
}
.ibox1{
    height: 164px;
    width: 100%;
    background-position: center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-image: url("https://b.zmtcdn.com/webFrontend/e5b8785c257af2a7f354f1addaf37e4e1647364814.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*");
}

.tbox1{
    height: 76px;
    width: auto;
    display: flex;
    margin-left: 20px;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    
}
.pera1{
    font-size: 20px;
    line-height: 32px;
    color: 363636;
    margin-top: 12px;
    font-weight: 400;
}
.para2{
    font-size: 16px;
    line-height: 24px;
    color: 4f4f4f;
}

.ibox2{
    height: 164px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://b.zmtcdn.com/webFrontend/d026b357feb0d63c997549f6398da8cc1647364915.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*");
}

.ibox3{
    height: 164px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://b.zmtcdn.com/data/o2_assets/371de657644f1b5818fcb5d83387c8c91722851940.png?output-format=webp&fit=around|402:360&crop=402:360;*,*");
}
.coll {
  height: 70px;
  width: 1100px;
  display: flex;
  align-items: center;
  margin-top: 80px;
  flex-direction: column;
}
.collh {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(28, 28, 28);
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}



.imgzomato{
    height: 60px;
    width: 300px;
    margin-top: 27px;
    background-image: url("https://b.zmtcdn.com/web_assets/8313a97515fcb0447d2d77c276532a511583262271.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.discover{
    font-weight: 100;
}

.con p{
    height: 48px;
    width: 703px;
    color: white;
    font-weight: 100;
    font-size: 38px;
    line-height: 43.2px;
    text-align: center;
    letter-spacing: normal;
    margin-top: 30px;
} 
.box2{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.imgbox2{
    height: 320px;
    width: 267px;
    display: flex;
}
.box2 :nth-child(1){
    background-image: url("./img/1861a2246de9e8cc96569b5dc4c3405c_1685696585.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.box2 :nth-child(2){
    background-image: url("./img/aaccef7199995c73258750f61c1961f0_1685696893.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box2 :nth-child(3){
    background-image: url("./img/3bb6a60fc5e06a9d88541a6c8895ba8a_1731665701.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box2 :nth-child(4){
    background-image: url("./img/047d79ba26a7d5fec76b22ecf4a5ae02_1685698329.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.city{
    display: flex;
    flex-wrap: wrap;
}

.tital{
    width: 1100px;
    color: rgb(54 54 54);
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 110px;
    display: flex;
}
.city{
    height: auto;
    width: 1100px;
    margin-top: 40px;
    display: flex;
}
.city p{
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: black;
}
.city h5{
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    color: #363636;
    
}
.city1 {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 33.3333%;
    padding: 0px 10px 0px;
    text-decoration: none;
}
.city1 a{
    text-decoration: none;
}
.city1 p{
    color: #3f3e3e;
}
.vj{
    padding: 1.2rem 1.5rem;
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(232, 232, 232);
    margin-bottom: 0.5rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.vj2 p{
    font-size: 18px;
}
#vj2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 93.38;
}

.mob{
    height: 480px;
    width: 100vw;
    background-color: #FFFBF7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.mob1{
    height: 450px;
    width: 900px;
    /* background-color: white; */
    display: flex;
}
.imob{
    height: 450px;
    width: 410px;
    background-image: url("https://b.zmtcdn.com/data/o2_assets/ce5bc038a8a2d4f8f24465c8826182af1726501431.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.tmob{
    height: 100%;
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    justify-content: space-evenly;
    padding-block: 50px;
    padding-left: 10px;
}
.tmob input{
    height: 48px;
    width: 292px;

}
.tmob h2{
    font-size: 44px;
    line-height: 56px;
}
.dd{
    font-size: 14px;
    line-height: 21px;
    color: #9c9c9c;
}
.imgp{
    display: flex;
}
.impp{
    height: 40px;
    width: 137px;
    background-image: url("https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.impp1{
    height: 40px;
    width: 137px;
    background-image: url("https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
}
#inp{
    height: 492;
    width: 1100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FCFCFC;

}
#inp p{
    font-size: 30px;
    line-height: 40px;
    text-align: start;
    letter-spacing: normal;
    padding-top: 20px;
    color: #363636;
  
}
.inpc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 20px;
}
.inpc1{
    height: 66px;
    width: 1098px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: lighter;
    color: #363636;
    line-height: 24px;
    padding-left: 12px;
    border: 1px solid rgb(221, 218, 218);
}


 /* Footer styles */
 .footer {
    background-color: #F8F8F8; /* Dark background color */
    color: #302d2d ;/* White text color */
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    width: 100%;
    margin-top: 51px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
  }

  .footer-column {
    flex: 1;
    min-width: 190px;
  }

 

  .footer-column h5 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
  }

  .footer-column ul li {
    margin-bottom: 10px;
  }

  .footer-column ul li a {
    color: #464545;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }

  .footer-column ul li a:hover {
    color: #f5a623; /* Highlight color on hover */
  }

  .social-media {
    display: flex;
    gap: 10px;
  }
  .social-media i{
    font-size: 20px;
  }

  .social-media a {
    color: #181717;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
  }

  .social-media a:hover {
    color: #f5a623; /* Highlight color on hover */
  }

  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 14px;
  }
  .fimg{
      margin-top: 12px;
  }

  .fimg img{
      height: 50px;
      width: 125px;
      padding-top: 12px;
  }
  






